{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
<!--        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To-->
<!--            Help.</p>-->
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Rubesh M</h3>
<!--                <p class="lead" style="font-weight: 350;">Hi, I am Rubesh. Currently Pursuing B.Tech in Information Technology.-->
<!--                    My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also Interested-->
<!--                    in Blockchain and Web App Development.-->
<!--                </p>-->
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:rubeshmurugan148@gmail.com'><img
                        src="https://t3.ftcdn.net/jpg/05/47/13/84/360_F_547138492_PWwxuV2V6iZtb7zaGT6ib4PH4nAlMYvI.jpg" height="40" width="40"></a> :
                rubeshmurugan148@gmail.com<br><br>
                <a target="_blank" href='https://github.com/rubesh14'><img
                        src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" height="44" width="44"></a> :
                Rubesh M<br><br>
                <a target="_blank" href='linkedin.com/in/rubesh-m-56a51a20a'><img
                        src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" height="40" width="40"></a> :
                Rubesh M<br>
            </div>
        </div>
    </div>
    <div class="col">
            <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
                <center>
                    <h3>Sundar S</h3>
                </center>
                <div>
                    <h5>Social Media Handles :</h5><br>
                    <a target="_blank" href='mailto:sundars.mng@gmail.com'><img
                            src="https://t3.ftcdn.net/jpg/05/47/13/84/360_F_547138492_PWwxuV2V6iZtb7zaGT6ib4PH4nAlMYvI.jpg" height="40" width="40"></a> :
                    sundars.mng@gmail.com<br><br>
                    <a target="_blank" href='https://github.com/SundarSampath20/sundar'><img
                            src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" height="44" width="44"></a> :
                    Sundar S<br><br>
                    <a target="_blank" href="http://surl.li/rlajp"><img
                            src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" height="40" width="40"></a> :
                    Sundar S<br>
                </div>
            </div>
    </div>
    <div class="col">
            <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
                <center>
                    <h3>Roopan Raj R</h3>
                </center>
                <div>
                    <h5>Social Media Handles :</h5><br>
                    <a target="_blank" href='mailto:roopanraj34@gmail.com'><img
                            src="https://t3.ftcdn.net/jpg/05/47/13/84/360_F_547138492_PWwxuV2V6iZtb7zaGT6ib4PH4nAlMYvI.jpg" height="40" width="40"></a> :
                    roopanraj34@gmail.com<br><br>
                    <a target="_blank" href='https://github.com/roopanraj34'><img
                            src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" height="44" width="44"></a> :
                    Roopan Raj R<br><br>
                    <a target="_blank" href="https://www.linkedin.com/in/roopan-raj-r-7aba1825a"><img
                            src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" height="40" width="40"></a> :
                    Roopan Raj R<br>
                </div>
            </div>
    </div>
    <div class="col">
            <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
                <center>
                    <h3>Chandruganth E</h3>
                </center>
                <div>
                    <h5>Social Media Handles :</h5><br>
                    <a target="_blank" href='mailto:20ita05@karpagamtech.ac.in'><img
                            src="https://t3.ftcdn.net/jpg/05/47/13/84/360_F_547138492_PWwxuV2V6iZtb7zaGT6ib4PH4nAlMYvI.jpg" height="40" width="40"></a> :
                    20ita05@karpagamtech.ac.in<br><br>
                    <a target="_blank" href='https://github.com/chandruganth3212'><img
                            src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" height="44" width="44"></a> :
                    Chandruganth E<br><br>
                    <a target="_blank" href="https://www.linkedin.com/in/chandrganth-e-74b590269"><img
                            src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" height="40" width="40"></a> :
                    Chandruganth E<br>
                </div>
            </div>
    </div>
</div>


{% endblock body %}